{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}"><button class="btn">Retour aux produits<button></a>
{% endblock %}
